{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login Page</title>
  <link rel="stylesheet" href="{% static 'signin.css' %}">
</head>
<body>


  <!-- Navbar -->
  <nav class="navbar">
    <div class="container">
      <span class="logo">Your Logo</span>
      <ul class="nav-links">
        <li><a href="#">Admin</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </div>
  </nav>
  

  <!-- Header--> 
  <header class="header">
    <div class="container">
      <h1>TeamHub</h1>
      <p>Where Projects Meet People</p>
    </div>
  </header>


  <section class="biglogbox ">
    <div class="flex item-center">
      <div class="top-left flex item-center justify-center">
        <div class="smollogbox">
          <div class="txt2 flex">
            Sign in with:
          </div>
          {% if error %}
            <p>{{ error }}</p>
          {% endif %}
          <form method ="post" id="login-form">
            {% csrf_token %}
            <div class="form-group">
              <label for="username">
                <div class="txt flex">
                  username:
                </div>
              </label>
              <input type="text" id="username" name="username" required>
            </div>
            <div class="form-group">
              <label for="password">
                <div class="txt flex">
                password:
                </div>
              </label>
              <input type="password" id="password" name="password" required>
            </div>
            <button type="submit">Login</button>
          </form>
          <div class="signuptext flex">
            Dont have an account? <a href="{% url 'create_user' %}">signup</a>
          </div>
        </div>
      </div>

      <div class="top-right flex justify-center">
        <div class="write flex">
          <div class="TMU flex">About TeamHub</div>
          <div class="TMUinfo flex">The Project Showcase Website serves as a centralized hub where users can showcase their projects, search for new opportunities, and connect with like-minded individuals. With the increasing complexity of modern projects, collaboration and teamwork have become essential components of success. This website facilitates collaboration by allowing users to join existing projects or create their own, thereby fostering a vibrant community of developers, designers, and enthusiasts.
          </div>
        </div> 
      </div>
    </div>

  </section>


  <!-- Footer -->
  <footer class="footer">
     
  </footer>

  <!-- Include script.js 
  <script src="{% static 'signin.js' %}"></script>
  -->


</body>
</html>

    

