<!-- home.html -->
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TeamHub</title>
    <!--  <link rel="stylesheet" href="{% static 'home.css' %}"> -->
    <link rel="stylesheet" href="{% static 'main.css' %}">
</head>

<body>
    
    <!-- Navbar -->
    <nav class="navbar">
      <div class="container">
        <span class="logo">Your Logo</span>
        <ul class="nav-links">
          <li><a href="#">Home</a></li>
          <li><a href="#">Profile</a></li>
          <li><a href="#">Projects</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </div>
    </nav>

  <!-- Header 
  <header class="header">
    <div class="container">
      <h1>Welcome to TeamHub</h1>
    </div>
  </header>
  -->

  <section class="createORjoin">
    <div class="flex text justify-center">
      <h1>Welcome! What are you looking for ?</h1>
    </div>
    <div class="flex item-center">
      <div class="flex topleft justify-center item-center">
        <div class="flex innerbox justify-center item-center">
          <button type="submit"><h2>
            <a href="{% url 'create_project' %}" class="button">Create Project</a>
          </h2></button>
          
        </div>
      </div>
      <div class="flex topright justify-center item-center">
        <div class="flex innerbox justify-center item-center">
          <button type="submit"><h2>
            <a href="{% url 'available_projects' %}" class="button">Join Project</a>
          </h2></button>  
        </div>
      </div>

    </div>
  
    
  </section>
  
  <br>
  <section class="flex av_projects_text justify-center item-center">
    <h1>Available Projects</h1>
  </section>
  <br>
  

  <section class="flex available_projects">
    
    <div class="project_info_box">
      <button type="submit">
        <div class="project_names">
          <h1>Project 1</h1>
        </div>
      </button>
      
      </div>
    </div>
    <div class="project_info_box">
      <button type="submit" >
        <div class="project_names">
          <h1>Project 2</h1>
        </div>
      </button>
    </div>
    <div class="project_info_box">
      <button type="submit">
        <div class="project_names">
          <h1>Project 3</h1>
        </div>
      </button>
    </div>
    <div class="project_info_box">
      <button type="submit">
        <div class="project_names">
          <h1>Project 4</h1>
        </div>
      </button>
    </div>
    <div class="project_info_box">
      <button type="submit">
        <div class="project_names">
          <h1>Project 5</h1>
        </div>
      </button>
    </div>
    <div class="project_info_box">
      <button type="submit"">
        <div class="project_names">
          <h1>Project 6</h1>
        </div>
      </button>
    </div>
    <div class="project_info_box">
      <button type="submit">
        <div class="project_names">
          <h1>Project 7</h1>
        </div>
      </button>
    </div>
    <div class="project_info_box">
      <button type="submit">
        <div class="project_names">
          <h1>Project 8</h1>
        </div>
      </button>
    </div>
    <div class="project_info_box">
      <button type="submit">
        <div class="project_names">
          <h1>Project 9</h1>
        </div>
      </button>
    </div>

    <div class="flex text_more_projects justify-center">
      <a href="{% url 'available_projects' %}">view more projects</a>
    </div>
    
  </section>

 
  <footer class="footer">
    <p>&copy; 2024 TeamHub. All rights reserved.</p>
  </footer>




</body>
<script>
  document.addEventListener('DOMContentLoaded', function() {
      // Get the PRN from the context passed by Django
      var prn = "{{ prn }}";
      
      // Store the PRN in local storage
      localStorage.setItem('prn', prn);
  });
</script>

</html>
