/*@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*/
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Global Styles */
  body {
    font-family: 'Source Code Pro',monospace;
    min-height: 150vh;
    display: flex;
    flex-direction: column;
    background-image: url("");
    background-size: cover; /* or "contain" depending on what you want */
    background-position: center center;
    background-repeat: no-repeat;
    background-color: #0b0416;
  
  }

  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }


/* Navbar Styles */
.navbar {
    color: #050009;
    padding: 10px 0;
    background-color:#6b0bbe ;
  }
  
  .navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .navbar .logo {
    font-size: 1.5rem;
  }
  
  .navbar ul {
    list-style: none;
  }
  
  .navbar ul li {
    display: inline-block;
    margin-right: 20px;
  }
  
  .navbar ul li a {
    color:#050009;
    text-decoration: none;
  }


  h1 {
    text-align: center;
    color: #007bff;
    margin-bottom: 30px;
  }

  strong {
    font-weight: bold;
    color: #f2f5f7;
  }

/* Optional: Add hover effect to project items */
  li:hover {
    transform: translateY(-2px);
    transition: transform 0.2s ease-in-out;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }

  .flex{
    display: flex;

  }

  .justify-center{
    justify-content: center;
  }

  .item-center{
    align-items: center;
  }

  .project-details-box{
    margin-top: 10px;
    height: 40vh;
    width: 40vw;
    background-color: white;
    border-radius: 20px;
    margin-bottom: 20px;
  }

  .project-thumbnail {
    flex: 1;
    width: 100%; /* Set width according to your design */
    height: 100%; /* Set height according to your design */
    background-size: cover; /* or "contain" depending on what you want */
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 20px; /* Optional: Apply border radius for a circular thumbnail */
    overflow: hidden; /* Hide overflow content */
}

  .project-thumbnail p {
    text-align: center;
    margin-top: 50px; /* Adjust the margin as needed */
  }
  .lbox {

    flex-direction: column; /* Display items in a column */
    height: 100%;
    width: 100%;
    font-size: medium;
    color: #f2f5f7;
  }

  .ava_proj{
    flex-wrap: wrap;
    justify-content: space-around;
  }