/* home.css */
/*@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*/
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Global Styles */
  body {
    font-family: 'Source Code Pro',monospace;
    min-height: 150vh;
    display: flex;
    flex-direction: column;
    background-image: url("");
    background-size: cover; /* or "contain" depending on what you want */
    background-position: center center;
    background-repeat: no-repeat;
    background-color: #0b0416;
    background-image: url(darkbluebg1.jpg);
  
  }

  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }


/* Navbar Styles */
.navbar {
    color: #050009;
    padding: 10px 0;
    background-color:#6b0bbe ;
  }
  
  .navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .navbar .logo {
    font-size: 1.5rem;
  }
  
  .navbar ul {
    list-style: none;
  }
  
  .navbar ul li {
    display: inline-block;
    margin-right: 20px;
  }
  
  .navbar ul li a {
    color:#050009;
    text-decoration: none;
  }

  .header{
    text-align: center;
  }

  .footer{
    text-align: center;
    color: white;
  }

 .flex{
    display: flex;
 }

 .justify-center{
    justify-content: center;
 }
 .item-center{
    align-items: center;
 }


 .createORjoin{
    background-image: url(darkbluebg1.jpg);
    /*background-color: yellow;*/
    height: 50vh;
    width: 100%;
    margin-top: 20px;
    background-size: cover; /* or "contain" depending on what you want */
    background-position: center center;
    background-repeat: no-repeat;
 }

 .text h1{
    margin-top: 50px;
    font-size:xx-large;
    color: white;
 }
 .topleft{
    width: 50%;
    height: 50vh;
    

 }

 .topright{
    width: 50%;
    height: 50vh;


 }
 .innerbox{
    height: 10vh;
    width: 20vw;
    /*background-color: green;*/
    border-radius: 20px;
    margin-bottom: 50px;
 }

 .innerbox button{
    font-family: 'Source Code Pro',monospace;
    background-color: rgb(83, 33, 164);
    color: #fff;
    height: 10vh;
    width: 20vw;
    border-radius: 20px;
    cursor: pointer;
    border-width: medium;
    border-color: #6b0bbe;
 }

 .innerbox button a{
   color: white;
 }

 /*.search_projects{
    height: 500px;
 }

 .search_bar input[type="text"] {
    font-family: 'Source Code Pro',monospace;
    float: right;
    padding: 6px;
    border: none;
    margin-top: 100px;
    margin-right: 16px;
    font-size: 17px;
    border-radius: 20px;
    width: 50vw;
    height: 8vh;
 }
 */
 .av_projects_text{
    height: 20vh;
    width: 100%;
    background-image: url(darkbluebg1.jpg);
    background-size: cover; /* or "contain" depending on what you want */
    background-position: center center;
    background-repeat: no-repeat;
 }

 .av_projects_text h1{
    color: rgb(228, 235, 235);
    font-size: xx-large;
    
 }
 
 .available_projects{
    /*background-color: rgb(4, 110, 110);*/
    height: 120vh;
    width: 100%;
    

    flex-wrap: wrap;
    justify-content: space-around;
    align-items:first baseline;
    
 }

 .project_info_box{
    margin-top: 10px;
    height: 30vh;
    width: 30vw;
    border-radius: 30px;
    background-color: yellowgreen;
 }

 .project_info_box button{
    height: 30vh;
    width: 30vw;
    border-width: medium;
    border-color: #6b0bbe;
    border-radius: 30px;
    cursor: pointer;
    background-size: cover; /* or "contain" depending on what you want */
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url("purplebg2.jpg");

 }

 .project_names{
    
    color: white;
    font-family: 'Source Code Pro',monospace;
    font-size: medium;
 }
 